h1, h2{
    font-family: 'Gloria Hallelujah', cursive;
}

h4, tr{
    font-family: 'Indie Flower', cursive;
}
#hours{
    background-color: #35f706;
}

#menu{
    background-color: #FF69B4;
}
@media only screen and (max-width: 900px){
    #number{
        font-size: 22px;
    }
}